header {
    width: 100%;
    height: 5%;
}

.logoDiv {
    float: left;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: inline-block;
}

.menuDiv {
    float: right;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: inline-block;
}

.logo {
    width: auto;
    height: 60px;
}

.order, .cart, .myPage {
    width: auto;
    height: 60px;
    margin-left: 10px;
}